<launch>
  <arg name="use_map_topic" default="false"/>
  <arg name="scan_topic" default="scan"/>
  <!-- Map File -->
  <arg name="map_file" default="$(find sensor_fusion)/config/maps/map.yaml"/>
	
  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />



  
<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    args="-1 0  0  0 0 0  /map /odom 100" />
</launch>