<launch>
  <arg name="use_map_topic" default="false"/>
  <arg name="scan_topic" default="scan"/>
  <!-- Map File -->
  <arg name="map_file" default="$(find my_launch)/launch/maps/labsea.yaml"/>
	
  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
</launch>